@font-face {
font-family: Boblic;
src: local("Boblic"),
url(/m/font/boblic.otf);
}
@font-face {
font-family: Kaufmann;
src: local("Kaufmann BT"),
url(/m/font/kaufmann-bt.otf);
}
a {
color: #0078AB;
}
body {
background: #F4F4F4;
}

a.logo {
font-family: Kaufmann;
font-size: 35px;
margin: 5px;
margin-left: 25px;
display: inline-block;
}
.header a:hover.logo {
text-decoration: none;
}
.body {
background: center center repeat-y;
}
.body .top {
height: 16px;
background: center center no-repeat;
}
.body .bottom {
height: 16px;
background: center center no-repeat;
}
.body.cols1 {
background-image: url(/m/img/cols1-middle.png);
}
.body.cols1 .top {
background-image: url(/m/img/cols1-top.png);
}
.body.cols1 .bottom {
background-image: url(/m/img/cols1-bottom.png);
}
.body.cols2 {
background-image: url(/m/img/cols2-middle.png);
}
.body.cols2 .top {
background-image: url(/m/img/cols2-top.png);
}
.body.cols2 .bottom {
background-image: url(/m/img/cols2-bottom.png);
}


.header {
color: #ccc;
vertical-align: middle;
}
.header a {
color: #ccc;
text-decoration: none;
margin-right: 20px;
}
.header a:hover {
text-decoration: underline;
color: #ED0461;
}
.header img {
vertical-align: middle;
display: inline-block;
margin: 15px 0;
}
.header .menu {
font-size: 15px;
display: inline-block;
vertical-align: middle;
margin-left: 15px;
font-family: Boblic;
}
h1 {
font-family: Boblic;
}
.header {
background: #323232;
}

.col1 .blockInfo img {
max-width: 200px;
border-radius: 3px;
}
.col1 .blockText {
padding: 10px;
}
.col1 .bColBody {
padding-left: 20px;
}
.col1 .btn {
margin: 10px 0 20px;
}

.col1 .line {
width: 234px;
margin-left: 5px;
border-top: 1px solid #E8E8E8;
}
.col1 input[type=submit] {
width: 100%;
}

/*.col2 .colBody {
padding: 20px 0 20px 25px;
}
.col2 .colBody h2 {
font-size: 20px;
font-family: Boblic;
}
.col2 .colBody h3 {
font-size: 18px;
font-family: Boblic;
}*/
.bookmarks {
border-bottom: 1px solid #E8E8E8;
font-family: Boblic;
text-align: center;
font-size: 16px;
}
.bookmarks a {
margin: 0 10px;
text-decoration: none;
color: #B0B0B0;
padding: 5px 0 10px 0;
display: inline-block;
}
.bookmarks a.selected {
color: #000;
border-bottom: 1px solid #000;
}
.bookmarks a:hover {
color: #555;
border-bottom: 1px solid #555;
}




.tracks h3 {
margin-top: 0;
margin-bottom: 20px;
font-size: 20px;
font-family: Boblic;
}
.tracks .text {
float: left;
width: 350px;
margin-left: 20px;
}
.tracks .image {
float: left;
width: 190px;
}
.tracks .image img {
width: 190px;
height: 190px;
border-radius: 5px;
}
.tracks .image a {
text-align: center;
display: block;
margin-top: 10px;
}

.artists .item {
display: inline-block;
margin: 0 20px 20px 0;
text-align: center;
}
.artists .item p {
margin: 10px 0 0 0;
}
.artists img {
border: 1px solid transparent;
display: block;
width: 100px;
height: 100px;
border-radius: 50px;
}
.artists a:hover img {
border-color: #0078AB;
}



.apeform .type_file .help {
float: none;
}
.fileProgress {
height: 15px;
}
.apeform .type_submit {
margin-top: 10px;
}

.addForm input[type=submit]{
margin-top: 15px;
width: 200px;
height: 30px;
}



.colN3 {
padding-top: 10px;
}
#preview .element {
float: left;
padding-right: 20px;
}
#preview .element.name_descr .ttl,
#preview .element.name_cat .ttl {
font-size: 11px;
}
#preview .element.name_descr,
#preview .element.name_cat {
margin-top: -22px;
}
#preview .element.name_descr textarea {
width: 250px;
height: 100px;
}

#preview .hgrp {
width: 610px;
margin-left: -1px;
margin-bottom: 15px;
padding-bottom: 20px;
border-bottom: 1px solid #EDEDED;
clear: both;
}
#preview .hgrp_userInfo {
padding-bottom: 10px;
}
.hgrp_userInfo .colBody {
padding-top: 5px;
}

#preview .type_submit {
padding-left: 25px;
padding-bottom: 20px;
padding-top: 5px;
}
#preview .type_submit input {
padding: 10px 20px;
}

#preview .element {
position: relative;
}
